<div class="container">
  <div class="container__text">
    <div class="animated-title">
      <div class="text-top">
        <div>
          <span>VEN</span>
          <span>DISFRUTA</span>
        </div>
      </div>
      <div class="text-bottom">
        <div>SABOR 100% ECUATORIANO</div>
      </div>
    </div>
    <div class="container__social">
      <div class="container__social__img">
        <a target="_blank" href="https://wa.me/593989985596"><img src="../../../assets/what.png" alt="" /></a>
        <a target="_blank" href="https://wa.me/593989985596">PIDE POR WHATSAPP</a>
      </div>
    </div>
  </div>
</div>

<app-lading-story></app-lading-story>
<app-slogan></app-slogan>
