<div class="container">
  <div class="container__text">
    <p>{{ history.title }}</p>
    <p>{{ history.description }}</p>
  </div>
  <hr />
  <div class="container__history">
    <div class="container__mision">
      <img src="../../../assets/mision.png" alt="" />
      <div class="container__tittle">
        <p>{{ history.subtitle }}</p>
        <p>{{ history.subdescription }}</p>
      </div>
    </div>
    <div class="container__vision">
      <div class="container__tittle">
        <p>{{ history.subtitle1 }}</p>
        <p>{{ history.subdescription1 }}</p>
      </div>
      <img src="../../../assets/vision.jpg" alt="" />
    </div>
  </div>
</div>
