.container {
  background-image: url(../../../assets/fondo.png);
  height: 100%;
  background-size: cover;
  position: relative;
}
.container__text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  line-height: 30px;
  padding: 3rem 0 2rem 0;
  margin: 0 auto;
  font-size: 1.3rem;
  text-align: center;
}

.container__text p:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
}
.container__text p:nth-child(2) {
  font-size: 1.2rem;
  font-family: Oxygen;
  width: 60%;
  color: #d6d6bc;
}
hr {
  border: 1px dashed #ffff;
  width: 80%;
  margin-bottom: 2.5rem;
  border-color: rgba(255, 255, 255, 0.15);
}

.container__history {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  line-height: 30px;
}
.container__mision {
  display: flex;
  padding-bottom: 2rem;
}
.container__tittle {
  display: block;
}
.container__tittle p:nth-child(1) {
  font-size: 1.8rem;
  font-weight: bold;
  color: #cfdf5a;
  font-family: "Dancing Script", cursive;
}
.container__tittle p:nth-child(2) {
  color: #d6d6bc;
}
.container__vision {
  display: flex;
  padding-bottom: 2rem;
  align-items: center;
  justify-content: center;
}
.container__vision img {
  height: 400px;
}
img {
  width: 40%;
  padding: 0 1rem;
}

@media screen and (max-width: 820px) {
  .container__mision {
    display: flex;
    flex-direction: column;
  }
  .container__vision {
    display: flex;
    flex-direction: column;
  }
  img:first-of-type {
    width: 100%;
    padding: 1rem 0;
  }
  img:nth-child(2) {
    width: 60%;
    height: auto;
    padding: 1rem 0;
  }
  .container__text p:nth-child(2) {
    width: 90%;
  }
  .container__vision img {
    height: 40%;
  }
}
